@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, white 20%, rgba(141, 137, 137, 0.7) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* styles.css */
.gradient-text-vertical {
  background: linear-gradient(to bottom, white 20%, rgba(0, 0, 0, 0.7) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}